<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cxyxh.blogshow.mapper.ArticleCommentMapper">

    <!--基础配置-->
    <resultMap id="BaseResultMap" type="org.cxyxh.blogshow.model.ArticleComment">
        <id column="i_article_comment" property="iarticleComment" jdbcType="INTEGER"/>
        <result column="i_article" property="iarticle" jdbcType="INTEGER"/>
        <result column="i_user" property="iuser" jdbcType="INTEGER"/>
        <result column="comment_context" property="commentContext" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <result column="operating_system" property="operatingSystem" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <association property="user" javaType="org.cxyxh.blogshow.model.User">
            <result column="username" property="username" jdbcType="VARCHAR"/>
        </association>
        <association property="article" javaType="org.cxyxh.blogshow.model.Article">
            <result column="article_title" property="articleTitle" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--根据文章ID查询父评论-->
    <select id="getCommentByArticleId" resultMap="BaseResultMap">
        select
            c1.*,
            u1.username
        from
            t_article_comment c1,
            t_user u1
        where
            c1.i_user = u1.i_user
            and i_article = #{iarticle}
        order by
            gmt_create desc
    </select>

    <!--父评论，查询子评论-->
    <select id="getCommentByCommentId" resultMap="BaseResultMap">
        select
            c1.*,
            u1.username
        from
            t_article_comment c1,
            t_user u1
        where
            c1.i_user = u1.i_user
            and parent_id = #{iarticleComment}
        order by
            gmt_create desc
    </select>

</mapper>