<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cxyxh.blogshow.mapper.DiaryMapper">

    <!--基础配置-->
    <resultMap id="BaseResultMap" type="org.cxyxh.blogshow.model.Diary">
        <id column="i_diary" property="idiary" jdbcType="INTEGER"/>
        <result column="diary_title" property="diaryTitle" jdbcType="VARCHAR"/>
        <result column="diary_content" property="diaryContent" jdbcType="VARCHAR"/>
        <result column="word_count" property="wordCount" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询日记-->
    <select id="getDiary" resultMap="BaseResultMap">
        select
            *
        from
            t_diary
        where
            status = 1
        order by
            gmt_create desc
    </select>

</mapper>