<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cxyxh.blogshow.mapper.LogMapper">

    <!--基础配置-->
    <resultMap id="BaseResultMap" type="org.cxyxh.blogshow.model.Log">
        <id column="i_log" property="ilog" jdbcType="INTEGER"/>
        <result column="i_user" property="iuser" jdbcType="INTEGER"/>
        <result column="browser_name" property="browserName" jdbcType="VARCHAR"/>
        <result column="browser_version" property="browserVersion" jdbcType="VARCHAR"/>
        <result column="operating_system" property="operatingSystem" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="operational_parameter" property="operationalParameter" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="log_type" property="logType" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <association property="user" javaType="org.cxyxh.blogshow.model.User">
            <id column="iuser" property="iuser2" jdbcType="VARCHAR"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--根据日志对象，新增日志-->
    <insert id="addLog" parameterType="org.cxyxh.blogshow.model.Log">
        insert into t_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iuser != null">
                i_user,
            </if>
            <if test="browserName != null">
                browser_name,
            </if>
            <if test="browserVersion != null">
                browser_version,
            </if>
            <if test="operatingSystem != null">
                operating_system,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="operationalParameter != null">
                operational_parameter,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="logType != null">
                log_type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="iuser != null">
                #{iuser,jdbcType=INTEGER},
            </if>
            <if test="browserName != null">
                #{browserName,jdbcType=VARCHAR},
            </if>
            <if test="browserVersion != null">
                #{browserVersion,jdbcType=VARCHAR},
            </if>
            <if test="operatingSystem != null">
                #{operatingSystem,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="operationalParameter != null">
                #{operationalParameter,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="logType != null">
                #{logType,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>