<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cxyxh.blogserver.mapper.ArticleTypeMapper">

    <!--基础配置-->
    <resultMap id="BaseResultMap" type="org.cxyxh.blogserver.model.ArticleType">
        <id column="i_article_type" property="iarticleType" jdbcType="INTEGER"/>
        <result column="type_name" property="typeName" jdbcType="VARCHAR"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--根据页码和关键字 查询文章类型-->
    <select id="getArticleTypeByPage" resultMap="BaseResultMap">
        select * from t_article_type
        <where>
            <if test="keyword !=null and keyword!=''">
                type_name like concat('%',#{keyword},'%')
            </if>
        </where>
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>

    <!--根据关键字 查询数据条数-->
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from t_article_type
        <where>
            <if test="keyword !=null and keyword!=''">
                type_name like concat('%',#{keyword},'%')
            </if>
        </where>
    </select>

    <!--根据ID 删除文章类型-->
    <delete id="deleteArticleTypeById" parameterType="java.lang.Integer">
        delete from t_article_type where i_article_type = #{iarticleType}
    </delete>

    <!--根据文章类型对象 新增文章类型-->
    <insert id="addArticleType" parameterType="org.cxyxh.blogserver.model.ArticleType">
        insert into t_article_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null">
                type_name,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=DATE},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=DATE},
            </if>
        </trim>
    </insert>

    <!--根据文章类型ID 修改该对象-->
    <update id="updateArticleTypeById" parameterType="org.cxyxh.blogserver.model.ArticleType">
        update t_article_type
        <set>
            <if test="typeName != null">
                type_name = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified,jdbcType=DATE},
            </if>
        </set>
        where i_article_type = #{iarticleType,jdbcType=INTEGER}
    </update>

    <!--查询全部文章类型-->
    <select id="getArticleType" resultMap="BaseResultMap">
        select * from t_article_type
    </select>


</mapper>