<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.cxyxh.blogserver.mapper.LogMapper">

    <!--基础配置-->
    <resultMap id="BaseResultMap" type="org.cxyxh.blogserver.model.Log">
        <id column="i_log" property="ilog" jdbcType="INTEGER"/>
        <result column="i_user" property="iuser" jdbcType="INTEGER"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <result column="operating_system" property="operatingSystem" jdbcType="VARCHAR"/>
        <result column="ip" property="ip" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="operational_parameter" property="operationalParameter" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="log_type" property="logType" jdbcType="INTEGER"/>
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP"/>
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP"/>
        <association property="user" javaType="org.cxyxh.blogserver.model.User">
            <id column="iuser" property="iuser2" jdbcType="VARCHAR"/>
            <result column="username" property="username" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <!--根据日志的类型ID,页码，每页展示数量和日志对象 查询相关的日志集合-->
    <select id="getLogByPage" resultMap="BaseResultMap">
        select username,l.* from t_log l,t_user u where l.i_user = u.i_user
        <if test="log != null">
            <if test="log.logType !=null and log.logType!=''">
                and l.log_type = #{log.logType}
            </if>
            <if test="log.user!=null">
                <if test="log.user.username !=null and log.user.username!=''">
                  and u.username like concat('%',#{log.user.username},'%')
                </if>
            </if>
        </if>
        <if test="createDateScope !=null">
            and l.gmt_create between #{createDateScope[0]} and #{createDateScope[1]}
        </if>
        <if test="page !=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>

    <!--根据日志类型，日志对象，创建时间，查看日志的数量-->
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from t_log l,t_user u where l.i_user = u.i_user
        <if test="log !=null">
            <if test="log.logType !=null and log.logType!=''">
                and log_type = #{log.logType}
            </if>
            <if test="log.user!=null">
                <if test="log.user.username !=null and log.user.username!=''">
                    and u.username like concat('%',#{log.user.username},'%')
                </if>
            </if>
        </if>
        <if test="createDateScope !=null">
            and l.gmt_create between #{createDateScope[0]} and #{createDateScope[1]}
        </if>
    </select>

    <!--根据日志对象，新增日志-->
    <insert id="addLog" parameterType="org.cxyxh.blogserver.model.Log">
        insert into t_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="iuser != null">
                i_user,
            </if>
            <if test="browser != null">
                browser,
            </if>
            <if test="operatingSystem != null">
                operating_system,
            </if>
            <if test="ip != null">
                ip,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="operationalParameter != null">
                operational_parameter,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="logType != null">
                log_type,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="iuser != null">
                #{iuser,jdbcType=INTEGER},
            </if>
            <if test="browser != null">
                #{browser,jdbcType=VARCHAR},
            </if>
            <if test="operatingSystem != null">
                #{operatingSystem,jdbcType=VARCHAR},
            </if>
            <if test="ip != null">
                #{ip,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="operationalParameter != null">
                #{operationalParameter,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="logType != null">
                #{logType,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>